#directories
BUILD/*
__pycache__/*
Joystick/*
mbed-os/*
.vscode/*
.hg/*

#might be auto created, don't want another
.git/*

#mbed stuff
mbed-os*
.mbed
mbed_settings.py
mbed_app.json
*.lib

*.swp
*.pyc

